/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
	margin: 0;
    width: 100%;
    background-color:  #ee5d6c;
    font-family: 'Lato';
}

iframe
{
    border:none;
    margin: 0 auto;
}

input{
    width: 400px;
    margin: 0 auto;
    height: 40px;
    font-family: Lato;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #FFF;
    outline: none;
    color: #FFF;
    padding-left: 10px;
}

.container{
    margin: 0 auto;
    width: 25%;
    padding: 10px;
    padding-top: 200px;
}

form{
    float:none;display: inline-block; 
}


::placeholder { /* Firefox, Chrome, Opera */ 
    color: #FFF; 
}

.login-button{
    margin-top: 20px;
    display: inline-block;
    background: transparent;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    width: 400px;
    height: 45px;
}

.login-button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
